{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ name }}
</h1>

<div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/dashboard">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="ticker" placeholder="Stock Ticker" autofocus="">
                </div>
            </div>



            <button class="button is-block is-info is-large is-fullwidth">Submit</button>
        </form>
    </div>
</div>
{% endblock %}